<mat-card class="post-card surface-panel">
  <mat-card-content>
    <div class="mb-4 flex items-start justify-between gap-3">
      <div class="flex  items-start gap-3">
        <div class="avatar">MG</div>
        <div>
          <p class="m-0 text-sm font-semibold">{{ post.user | authorName }}</p>
        </div>
      </div>
      <!-- <span class="text-xs opacity-60">{{  }}</span> -->
    </div>

    <p class="m-0 mb-4 text-sm leading-6 md:text-[0.95rem]">
      {{ post.caption }}
    </p>

    @if (post.media) {
      @if (post.media.mediaType === MediaType.Image) {
        <div class="post-media mb-4">
          <img [src]="post.media!.reference" [alt]="post.media!.id" loading="lazy" />
        </div>
      }

      @if (post.media.mediaType === MediaType.Video) {
        <div class="post-media mb-4">
          <video [src]="post.media!.reference" [poster]="''" controls preload="metadata"></video>
        </div>
      }
    }

    <mat-divider />

    <div class="mt-3 flex items-center justify-between">
      <button mat-button type="button" class="post-action-btn">
        <mat-icon>favorite_border</mat-icon>
        <span>{{ post.reactionSummary?.totalLike ?? 0}}</span>
      </button>
      <button mat-button type="button" class="post-action-btn" (click)="toggleCommentsVisibility()">
        <mat-icon>chat_bubble_outline</mat-icon>
        <span>{{ areCommentsVisible ? 'Hide comments' : 'Show comments' }} ({{ 0 }})</span>
      </button>
      <button mat-button type="button" class="post-action-btn">
        <mat-icon>share</mat-icon>
        <span>50</span>
      </button>
    </div>

    @if (areCommentsVisible) {}
  </mat-card-content>
</mat-card>
